.columns {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--columns-gap, #{spacing(l)});
	align-items: stretch;

	&.has-gap-none {
		--columns-gap: 0;
	}

	&.has-gap-s {
		--columns-gap: #{spacing(s)};
	}

	&.has-gap-m {
		--columns-gap: #{spacing(m)};
	}

	&.has-gap-l {
		--columns-gap: #{spacing(l)};
	}

	&.has-gap-xl {
		--columns-gap: #{spacing(xl)};
	}
}
