.pill {
	padding-block: spacing(xs);
	padding-inline: spacing(m);
	border-radius: $rounded-full;
	background-color: $background;
	color: $color;
	box-shadow: inset 0 0 0 0.0625rem $color-tertiary;
	font-weight: $weight-medium;

	.pill-count {
		opacity: 0.6;
		font-variant-numeric: tabular-nums;
	}

	&:not(.is-active) {
		@include interactive {
			background-color: $tint-primary;
		}
	}

	&.is-active {
		background-color: $primary;
		color: $black;
		box-shadow: none;
	}
}
