.shortcut {
	display: inline-flex;
	align-items: center;
	gap: spacing(xs);

	.shortcut-key {
		--font-size: 0.8125rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding-inline: spacing(xs);
		border-radius: $rounded-s;
		background-color: $grey-lightest;
		box-shadow: inset 0 0 0 0.0625rem $border;
		font-family: var(--font-sans, system-ui, sans-serif);
		font-weight: $weight-medium;

		@include on-colorset(dark) {
			background-color: $grey-dark;
		}
	}

	.shortcut-separator {
		--font-size: 0.8125rem;
		color: $color-secondary;
	}
}
