.accordion {
	border-block-start: 0.0625rem solid $border-color;

	.accordion-item {
		border-block-end: 0.0625rem solid $border-color;
	}

	&[data-orientation="horizontal"] {
		display: flex;
		border-block-start: 0;
		border-inline-start: 0.0625rem solid $border-color;

		.accordion-item {
			border-block-end: 0;
			border-inline-end: 0.0625rem solid $border-color;
		}
	}
}
