.inventory {
	.expenses-filters {
		flex-wrap: wrap;
		gap: spacing(s);
		align-items: center;
	}

	.expenses-overview {
		display: flex;
		flex-direction: column;
		gap: spacing(l);
	}

	.expenses-budget {
		max-inline-size: 30rem;
	}
}
