.data-table {
	display: grid;
	gap: spacing(m);

	.data-table-toolbar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: spacing(s);
	}

	.data-table-sort {
		inline-size: auto;
		min-inline-size: 12rem;
	}

	.data-table-pagination {
		justify-self: end;
	}
}
