.pagination {
	--pagination-size: #{spacing(xl)};
	--pagination-gap: #{spacing(xs)};

	display: flex;

	.pagination-list {
		display: flex;
		align-items: center;
		gap: var(--pagination-gap);
		margin: 0;
		padding: 0;
		list-style: none;

		.pagination-item {
			display: flex;

			.pagination-page,
			.pagination-control {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				min-inline-size: var(--pagination-size);
				block-size: var(--pagination-size);
				padding-inline: spacing(xs);
				border-radius: $rounded-m;
				color: $color;
				font-weight: $weight-medium;
				line-height: 1;
				text-decoration: none;
				cursor: pointer;

				.pagination-icon {
					font-size: 1.1em;
				}

				&:not([data-selected]) {
					@include interactive {
						background-color: $grey-lightest;

						@include on-colorset(dark) {
							background-color: $grey-dark;
						}
					}
				}

				&[disabled],
				&[aria-disabled="true"] {
					color: $color-secondary;
					opacity: 0.5;
					cursor: not-allowed;
				}
			}

			.pagination-page[data-selected] {
				background-color: $primary;
				color: $white;

				@include interactive {
					background-color: $primary-hover;
				}
			}

			.pagination-ellipsis {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				min-inline-size: var(--pagination-size);
				block-size: var(--pagination-size);
				color: $color-secondary;
			}
		}
	}
}
