.permission-groups {
	display: grid;
	gap: spacing(l);

	.permission-groups-permission-group {
		display: grid;
		gap: spacing(xs);
	}

	.permission-groups-permission-group-list {
		display: grid;
		gap: spacing(xs);
	}

	.permission-groups-permission-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: spacing(m);
		padding-block: spacing(xs);
		border-block-end: 0.0625rem solid $border-color;
	}
}
