.sticky-cta {
	position: fixed;
	inset-block-end: 0;
	inset-inline: 0;
	z-index: $z-sticky;
	padding-inline: spacing(m);
	padding-block-start: spacing(s);
	padding-block-end: calc(#{spacing(s)} + env(safe-area-inset-bottom));
	background-color: $page;
	border-block-start: 0.0625rem solid $border-color;
	visibility: hidden;
	translate: 0 100%;

	transition:
		translate $motion-entrance,
		visibility $motion-entrance;

	&[data-visible] {
		visibility: visible;
		translate: 0 0;
	}

	@include bp(l) {
		display: none;
	}

	.sticky-cta-button {
		inline-size: 100%;
	}
}
