.steps {
	--step-marker-size: 2.5rem;

	.steps-list {
		display: grid;
		gap: spacing(2xl);
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: step;

		&[data-variant='process'] {
			@include bp(m) {
				grid-auto-flow: column;
				grid-auto-columns: 1fr;
			}
		}

		&[data-variant='progress'] {
			@include bp(s) {
				grid-auto-flow: column;
				grid-auto-columns: 1fr;
				gap: 0;
			}
		}
	}

	.steps-step {
		display: flex;
		gap: spacing(l);
		align-items: flex-start;

		.steps-marker {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			inline-size: var(--step-marker-size);
			block-size: var(--step-marker-size);
			border-radius: $rounded-full;
			font-weight: $weight-bold;
			color: $white;
			background-color: $primary;

			.steps-icon {
				font-size: 1.125rem;
			}
		}

		.steps-body {
			display: flex;
			flex-direction: column;
			gap: spacing(xs);

			.steps-step-title {
				margin: 0;
				font-weight: $weight-bold;
				color: $color;
				font-family: inherit;
				letter-spacing: normal;
			}

			.steps-step-body {
				margin: 0;
				color: $color-secondary;
				--font-size: 0.875rem;
			}
		}

		&[data-state='done'] .steps-marker {
			background-color: $primary;
			color: $black;
			box-shadow: none;
		}

		&[data-state='active'] .steps-marker {
			box-shadow: inset 0 0 0 0.125rem $primary;
			color: $primary-text;
		}

		&[data-state='upcoming'] {
			.steps-marker {
				color: $color-secondary;
			}

			.steps-step-title {
				color: $color-secondary;
				font-weight: $weight-medium;
			}
		}
	}

	.steps-list[data-variant='progress'] {
		@include bp(s) {
			.steps-step {
				flex-direction: column;
				align-items: center;
				text-align: center;
				gap: spacing(s);
				position: relative;
			}

			.steps-step + .steps-step::before {
				content: '';
				position: absolute;
				inset-block-start: calc(var(--step-marker-size) / 2);
				inset-inline-end: 50%;
				inline-size: 100%;
				block-size: 0.125rem;
				background-color: $border;
			}

			.steps-step[data-state='done']::before,
			.steps-step[data-state='active']::before {
				background-color: $primary;
			}
		}
	}
}
