.radio-set {
	display: flex;
	flex-direction: column;
	gap: spacing(s);

	&.is-horizontal {
		flex-direction: row;
		flex-wrap: wrap;
		gap: spacing(l);
	}

	.radio-field {
		display: inline-flex;
		align-items: center;
		gap: spacing(s);
		cursor: pointer;

		.label {
			color: $color;
		}

		&:has(.radio[data-disabled]) {
			cursor: not-allowed;

			.label {
				opacity: 0.6;
			}
		}

		.radio {
			--radio-size: 1.25rem;

			display: inline-flex;
			align-items: center;
			justify-content: center;
			inline-size: var(--radio-size);
			block-size: var(--radio-size);
			flex: none;
			padding: 0;
			box-shadow: inset 0 0 0 0.0625rem var(--border-color);
			border-radius: $rounded-full;
			background-color: $background-color;
			cursor: pointer;

			transition: box-shadow $speed-fast $ease;
			&[data-checked] {
				box-shadow: inset 0 0 0 0.0625rem var(--accent);
			}

			&[data-disabled] {
				opacity: 0.6;
				cursor: not-allowed;
			}

			&[data-invalid] {
				box-shadow: inset 0 0 0 0.0625rem var(--status-error);
			}

			.indicator {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				inline-size: 100%;
				block-size: 100%;
				opacity: 0;

				transition: opacity $speed-fast $ease;

				.dot {
					inline-size: 0.55em;
					block-size: 0.55em;
					border-radius: $rounded-full;
					background-color: $accent;
				}
			}

			&[data-checked] .indicator {
				opacity: 1;
			}
		}
	}
}
